.gallery {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    img {
        width: 100%;
        height: auto;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        transition-duration: 0.5s;
    }
    img:hover {
        transform: scale(1.01);
    }
}